* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "lato", sans-serif !important;
  font-size: 16px !important;
}
.bg-dark-hourse-blood {
  background-color: rgb(120, 9, 63);
}
@media (min-width:1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width:1200px;
  }
}
::-webkit-scrollbar{width: 8px !important;height: 8px !important;}
::-webkit-scrollbar-thumb{background: #ccc !important;}
::-webkit-scrollbar-track{background: transparent !important;}
/* the header section */
.container {
  max-width: 90% !important;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}
.logoWrapper img {
  width: 100%;
}
.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 40px;
  min-width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px !important;
  
}
.headerWrapper .header .part2 .countryDrop .info{
  text-align: left;
  justify-content: flex-start !important;
  padding: 3px 5px !important;
}
.headerWrapper .header .part2 .countryDrop .angle_cont svg{
  opacity: 0.8;
  color: #7a0707 !important;
  margin-left: 58px !important;

}
.headerWrapper .header .part2 .countryDrop .label {
  font-size: 10px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.3) !important;
}
.headerWrapper .header .part2 .countryDrop .name {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 700;
  line-height: 16px;
}

/* search bar starts here */
.headersearch {
  width: 60% !important;
  height: 40px;
  background: #f8f8f9;
  padding: 2px;
  position: relative !important;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.headersearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 35px;
  padding: 0px 25px !important;
  border: none !important;
}
.headersearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}
.headersearch button {
  position: absolute;
  top:6px;
  right: 15px;
  z-index: 100;
  min-width: 30px !important;
  height: 25px !important;
  width: 25px !important;
  border-radius: 30% !important;
  color: #000;
}
.headersearch button svg {
  font-size: 20px;
  opacity: 0.8;
}
header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(187, 183, 183, 0.1) !important;
  color: #000;
}
header .part3 .circle svg {
  font-size: 22px;
}

.cartTap .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.cartTap button {
  background: #fff1ee !important;
}
.cartTap button svg {
  color: #ea2b0f;
}
.cartTap .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
}
.locationModel1 .MuiPaper-elevation {
  padding:25px;
  position: relative;
}
.locationModel1 .countryList{
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y:scroll;
  overflow-x: hidden;
  margin-left: -8%;
}
.locationModel1 .countryList li{
  width: 100%;
  list-style: none;
}
.locationModel1 .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 10px 10px !important;
}
.locationModel1 .close_{
  position:absolute;
  top:10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.locationModel1 .close_ svg{
  font-size: 22px !important;
}
/* the all carttab css */
nav .navpart1{max-width: 20% !important; flex: 0 0 20% !important;}
nav .navpart2{max-width: 80% !important; flex: 0 0 80% !important;}
nav .allCatTab {
  background: #631e3f;
  padding: 8px 15px !important;
  border-radius:30px;
}
nav .allCatTab *{
  color: #fff;
}
nav .allCatTab:hover{
  background:#ae517e
}
nav .allCatTab .text{
  font-weight:500;
}
nav .allCatTab .icon1 svg{
  font-size:20px !important;
}
nav .allCatTab .icon2 svg{
  font-size:15px !important;
}
nav .navpart2 ul{
  margin-bottom: 0px;
}
nav .navpart2 ul li a{
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 13px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}
nav .navpart2 ul li a svg{
  font-size: 14px;
}
nav .navpart2 ul li a:hover{
  background: rgba(91, 15, 91, 0.201);
  color: rgb(120, 9, 63);
}